<div class="bg-[var(--secondary-color)] p-4 rounded-lg">
  <div class="flex justify-between items-center">
    <div *ngFor="let item of navItems" 
      class="flex flex-col items-center cursor-pointer py-2 px-4 rounded-lg transition-colors hover:bg-white"
      [class.bg-white]="item.active">
      <div class="relative flex justify-center mb-1">
        <mat-icon 
          [matBadge]="item.badge" 
          [matBadgeHidden]="!item.badge"
          matBadgeSize="small" 
          matBadgeColor="primary"
          class="text-[var(--primary-color)] transform scale-110">
          {{item.icon}}
        </mat-icon>
      </div>
      <span class="text-xs text-[var(--text-secondary)] whitespace-nowrap">{{item.label}}</span>
    </div>
  </div>
</div> 